*{
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color:#b53c2f;
}
.heading{
    background-color: aqua;
    font-size: 100px;
    color:blueviolet;
    text-align:left;
}
.heading2{
    background-color: black;
    border:#b53c2f;
}
#headings{
    font-style: italic;
}